*
{
    margin: 0;
    padding: 0;
}
.main
{
    width: 100%;
    background-image: url(./img/img_classique.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar
{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo
{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
 
.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover
{
    color: #ff7200;
}

.search
{
    width: 330px;
    float: left;
    margin-left: 270px;

}
.s{
    font-family: Arial;
    font-weight: bold;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn
{
    width: 100px;
    height: 40px;
    background: #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus
{
    outline: none;
}
.srch:focus
{
    outline: none;
}

.content 
{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par
{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    line-height: 30px;
}
.content h1{
    font-family: Arial;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    color: #ff7200;
    letter-spacing: 1px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;

}
.cn:hover
{
    background-color: #fff;
}
.content h1 span
{
    color: #ff7200;
    font-size: 30px;
}

.header{
    padding-left: 15px;
    margin-left: 20px;
    text-align: justify;
    padding-right: 15px;
    margin-right: 20px;
}
.containers{
    display: flex;
}
.text1{
    flex: 1;
    padding:0  30px;
    text-align: justify;
    max-width: 50%;
}
.text2{
    flex: 1;
    padding:30 0px;
    text-align: justify;
    max-width: 50%;
}
.text1  h1
{
    font-size: 18px;
    text-align: justify;
    color: #ff7200;
}
.text2 h1
{
    font-size: 18px;
    text-align: justify;
    color: #ff7200;
}
.form
{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(186, 33, 33, 0.5)50%,rgba(186,33,33,0.5)50%,);
    position: absolute;
    top: -50px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}   
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input
{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Times New Roman';
    /*
    font-family: sans-serif;*/
    /* font-style: italic; */
}

.form input:focus
{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
    font-weight: bold;
/* font-family: 'Times New Roman'; */
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;

}
.btnn:hover
{
    background: #fff;
    color: #ff7200;
}
.btnn a 
{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;

}
.form .link a 
{
    text-decoration: none;
    color: #ff7200;

}

.lw
{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
         
}
.icons a
{
    text-decoration: none;
    color: #fff;

}
.icons ion-icon
{
    color: #fff;
    font-size: 15px;
    padding-left: 14px;
    text-align: center;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover
{
    color: #ff7200;

}



/*FOOOOOOOOOOOOTER*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
     display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col
{
    width: 25%;
    padding: 0 15px;

}

.footer-col h4{
    font-size: 18px;
    color: #ff7200;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}
.footer-col h4::before
{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff7200;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li a 
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 100;
    color: #bbbbbb;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover
{
    color: #ff7200;
    padding-left: 8px;
}
.footer-col .social-links a
{
 display: inline-block;
 height: 40px;
 width: 40px;
 background: rgba(255, 255, 255, 0.2);
 margin: 0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ff7200;
 transition: all 0.5s ease;
}

.footer-col .social-links a:hover
{
    background-color: #ff7200;
    transition: 0.4s ease;
}

/****MEDIA QUERRY****/

@media(max-width: 767px)
{
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px)
{
    .footer-col {
        width: 100%;
    }
}
.py{
    text-align: center;
}
.py small{
    font-size: 14px;
    text-align: center;
    color: #ff7200;

}